import os

os.environ['CONFIG_DIR'] = os.path.dirname(os.path.abspath(__file__))
os.environ['PROJECT_DIR'] = os.path.dirname(os.getenv('CONFIG_DIR'))

# ------------------------------------KAFKA-----------------------------------
os.environ['URL_TOPIC'] = 'url'
os.environ['FEATURES_TOPIC'] = 'features'
os.environ['ERROR_TOPIC'] = 'error'
os.environ['KAFKA_SERVER'] = 'localhost:9092'
os.environ['KAFKA_OFFSET'] = 'earliest'

# ------------------------------------KEYS-----------------------------------
os.environ['SENTIMENT_ANALYSIS_API_KEY'] = ""
os.environ['PERSPECTIVE_API_KEY'] = ""
